<%- include('./partials/header.ejs')%>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                <%- include('./partials/sidebar.ejs', {pageName:'Home'}) %>
            </div>
            <div class="col-sm-10">
                <!--Main content-->
                <div class="mt-5">
                    <div class="text-center">
                        <img src="/images/pic2.jpeg" alt="" class="img-thumbnail" style="width: 450px; height:450px;">
                    </div>
                    <div class="mt5 text-white mx=5 text-justify">
                        <h1 class="fw-bold st-font">Hello</h1>
                        <div class="px-4" style="line-height: 2rem">
                            <p class="text-warning info" style="text-indent: 100px;">I am
                                <b class="text-warning name">
                                    Pankaj Mandal
                                </b>  currently pursuing a Bachelor's degree in Computer Science (BSc CS) from Rizvi College of Arts, Science, and Commerce in Bandra, Mumbai. I possess a diverse range of technical skills and have a strong passion for learning and exploring different areas of technology.

                                Throughout my educational journey, I have gained proficiency in various programming languages and frameworks, including HTML, CSS, JavaScript, React, Node.js, Express.js, MongoDB, Python, Java, C++, and MySQL. These skills have equipped me with a solid foundation to work on web development, full-stack development, and database management.
                                
                                I am a dedicated and self-motivated individual who is always eager to expand my knowledge and take on new challenges. I enjoy staying up to date with the latest industry trends and advancements, as it allows me to continuously enhance my skills and contribute effectively to innovative projects.
                                
                                In addition to my technical expertise, I am a team player with excellent communication skills. I believe in fostering positive and collaborative environments where everyone's ideas are valued, leading to successful outcomes. I am known for my strong problem-solving abilities and a keen attention to detail, ensuring the delivery of high-quality work.

                                I approach every task with enthusiasm and a growth mindset, constantly seeking opportunities for personal and professional development. I am driven by the desire to make a positive impact through my work and contribute to the advancement of technology.

                            
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/contact" class="btn-outline-warning btn mx-5 my-5">Hire me</a>
                        <a href="/contact" class="btn btn-outline-info">Contact</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>