<%- include('./partials/header.ejs')%>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs', {pageName:'Services'}) %>
        </div>
        <div class="col-sm-10">
            <!--Main content-->
            <div class="container mt-5">
                <h1 class="border-bottom mb-5 text-warning">
                    SERVICES
                </h1>

                <div class="text-center text-white row mb-5">
                    <div class="col-sm-4">
                        <i class="fa-search-dollar fas fa-2x mb-3 i-color"></i>
                        <h3>SEO</h3>
                        <p class="ss-color">Improve your website's visibility on search engines and drive organic traffic through effective Search Engine Optimization (SEO) strategies.</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="fa-brands fa-css3 fa-2x mb-3 i-color"></i>
                        <h3>Web Design</h3>
                        <p class="ss-color">Create visually appealing and user-friendly websites that engage your audience and leave a lasting impression with our professional web design services.</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="fa-code fas fa-2x mb-3 i-color"></i>
                        <h3>Web Development</h3>
                        <p class="ss-color">Build robust and scalable web applications tailored to your specific requirements using cutting-edge web development technologies and best practices.</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="fa-desktop fas fa-2x mb-3 i-color"></i>
                        <h3>Desktop Application</h3>
                        <p class="ss-color">Develop custom desktop applications that streamline your business processes, enhance productivity, and provide a seamless user experience.</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="fa-mobile fas fa-2x mb-3 i-color"></i>
                        <h3>Mobile Application</h3>
                        <p class="ss-color">Create innovative and intuitive mobile applications for Android and iOS platforms to expand your reach and engage with your target audience on-the-go.</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="fa-database fas fa-2x mb-3 i-color"></i>
                        <h3>Database Management</h3>
                        <p class="ss-color">Design and optimize efficient database solutions, ensuring data integrity, security, and high performance to meet your organization's data management needs.</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="fa-graduation-cap fas fa-2x mb-3 i-color"></i>
                        <h3>Educational Technology</h3>
                        <p class="ss-color">Leverage technology to revolutionize the education sector with interactive e-learning platforms, student management systems, and online assessment tools.</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="fa-cogs fas fa-2x mb-3 i-color"></i>
                        <h3>Automation</h3>
                        <p class="ss-color">Automate repetitive tasks and streamline workflows with customized automation solutions, allowing you to save time, reduce errors, and increase efficiency.</p>
                    </div>
                    
                    <div class="col-sm-4">
                        <i class="fa-file-alt fas fa-2x mb-3 i-color"></i>
                        <h3>Content Writing</h3>
                        <p class="ss-color">Craft compelling and engaging content for your website, blog, or marketing materials to attract and captivate your target audience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs')%>
